#in-game-screen {
    position: relative;
    display: flex;
    justify-content: space-between;

    .in-game-info {
        display: flex;
        flex-direction: column;
        margin-top: 15vh;
        
        &.hide {
            display: none;
        }

        .current-game-mode {
            font-size: 30px;
            color: white;
            margin-bottom: 15px;
        }

        .current-player-moving {
            font-size: 20px;
            color: white;
            margin-bottom: 20px;
        }

        .in-game-player-x {
            user-select: none;
            cursor: pointer;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
            position: relative;
            height: 33px;
            width: 100px;
            background-color: blue;
            color: white;
            transition: 0.4s all ease-in-out;
            font-size: 0px;
            padding: 12px 0 0 5px;

            #win-counter-x {
                font-size: 20px;
                transition-delay: 0.4s;
            }

            &.hoverable{
                &:hover {
                    width: 220px;
                    font-size: 20px;

                    #win-counter-x {
                        font-size: 0;
                        transition-delay: 0.1s;
                    }
                }
            }

        }

        .in-game-player-o {
            user-select: none;
            cursor: pointer;
            margin-top: 20px;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
            position: relative;
            height: 33px;
            width: 100px;
            background-color: red;
            color: white;
            transition: 0.4s all ease-in-out;
            font-size: 0px;
            padding: 12px 0 0 5px;

            #win-counter-o {
                font-size: 20px;
                transition-delay: 0.4s;
            }

            &.hoverable{
                &:hover {
                    width: 220px;
                    font-size: 20px;
                
                    #win-counter-o {
                        font-size: 0;
                        transition-delay: 0.1s;
                    }
                }
            }
        }

        .in-game-player-draw {
            user-select: none;
            margin-top: 20px;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
            position: relative;
            height: 33px;
            width: 100px;
            background-color: hsl(0, 0%, 30%);
            color: white;
            font-size: 18px;
            padding: 12px 0 0 5px;
        }

        .in-game-change-mode {
            user-select: none;
            margin-top: 20px;
            cursor: pointer;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
            position: relative;
            height: 33px;
            width: 190px;
            background-color: white;
            color: black;
            transition: 0.4s all ease-in-out;
            font-size: 0px;
            padding: 12px 0 0 5px;

            #game-mode {
                font-size: 20px;
            }
        }

        .x-player-info-image {
            position: absolute;
            top: 2px;
            right: -40px;
            height: 40px;
            width: 40px;
        }

        .o-player-info-image {
            position: absolute;
            top: -2px;
            right: -46px;
            height: 50px;
            width: 50px;
        }
    }

    #grid-display {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 40vw;
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
    
        .play-area {
            height: 60vh;
            width: auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            
            .xo-grid {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 3px solid white;

                &.red {
                    border: 2px solid red;
                }

                &.blue {
                    border: 2px solid blue;
                }

                .x {
                    .x-image {
                        height: 75px;
                        width: 75px;
    
                        &.top-left {
                            @include player-input;
        
                            &.show {
                                @include show-input;
                            }
                        }
    
                        &.top-middle {
                            @include player-input;
        
                            &.show {
                                @include show-input;
                            }
                        }
    
                        &.top-right {
                            @include player-input;
        
                            &.show {
                                @include show-input;
                            }
                        }
    
                        &.middle-left {
                            @include player-input;
        
                            &.show {
                                @include show-input;
                            }
                        }
    
                        &.center {
                            @include player-input;
        
                            &.show {
                                @include show-input;
                            }
                        }
    
                        &.middle-right {
                            @include player-input;
        
                            &.show {
                                @include show-input;
                            }
                        }
    
                        &.bottom-left {
                            @include player-input;
        
                            &.show {
                                @include show-input;
                            }
                        }
    
                        &.bottom-middle {
                            @include player-input;
        
                            &.show {
                                @include show-input;
                            }
                        }
    
                        &.bottom-right {
                            @include player-input;
        
                            &.show {
                                @include show-input;
                            }
                        }                    
                    }
                }
    
                .o {
                    .o-image {
                        height: 100px;
                        width: 100px;
    
                        &.top-left {
                            @include player-input;
        
                            &.show {
                                @include show-input;
                            }
                        }
    
                        &.top-middle {
                            @include player-input;
        
                            &.show {
                                @include show-input;
                            }
                        }
    
                        &.top-right {
                            @include player-input;
        
                            &.show {
                                @include show-input;
                            }
                        }
    
                        &.middle-left {
                            @include player-input;
        
                            &.show {
                                @include show-input;
                            }
                        }
    
                        &.center {
                            @include player-input;
        
                            &.show {
                                @include show-input;
                            }
                        }
    
                        &.middle-right {
                            @include player-input;
        
                            &.show {
                                @include show-input;
                            }
                        }
    
                        &.bottom-left {
                            @include player-input;
        
                            &.show {
                                @include show-input;
                            }
                        }
    
                        &.bottom-middle {
                            @include player-input;
        
                            &.show {
                                @include show-input;
                            }
                        }
    
                        &.bottom-right {
                            @include player-input;
        
                            &.show {
                                @include show-input;
                            }
                        }
                    }
                }
            }
    
            .top {
                border-top: none;
            }
    
            .left {
                border-left: none;
            }
            
            .right {
                border-right: none;
            }
    
            .bottom {
                border-bottom: none;
            }
        }

        .trigger-buttons {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            text-align: center;

            .previous-move-trigger {
                margin-top: 40px;
                user-select: none;
                font-size: 20px;
                color: white;
                visibility: hidden;
                
                &.show {
                    cursor: pointer;
                    visibility: visible;
                }
            }
    
            .next-move-trigger {
                margin-top: 40px;
                user-select: none;
                font-size: 20px;
                color: white;
                visibility: hidden;
                
                &.show {
                    cursor: pointer;
                    visibility: visible;
                }
            }
        
            #trigger {
                margin-top: 40px;
                cursor: pointer;
                user-select: none;
                color: white;
                font-size: 20px;
        
                &:hover {
                    text-shadow: 0 0 10px hsl(0, 0%, 100%);
                }
            }
        }

    }

    .history-display-wrapper {
        position: relative;
        width: 315px;

        .history-display-hover {
            position: absolute;
            right: 0;
            margin-top: 15vh;
            user-select: none;
            cursor: pointer;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
            height: 33px;
            width: 165px;
            background-color: white;
            color: black;
            font-size: 18px;
            padding: 12px 0 0 10px;
            transition: 0.4s width;

            &.elongate {
                width: 330px;
            }
        }
        
        #history-display {
            margin-top: 24vh;
            height: auto;
            width: auto;
            color: white;
            visibility: visible;
            transition-delay: 0.4s;
    
            div {
                margin-top: 10px;
                font-size: 14px;

                &.blur {
                    color: hsl(0, 0%, 50%);
                }
            }

            &.hidden {
                visibility: hidden;
                transition-delay: 0.01s;
            }
        }
    }

}
