#startup-modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;

    &.hide {
        display: none;
    }

    #testing {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }

    .game-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
        transition: 1s all ease-in-out;
        visibility: hidden;
        opacity: 0;
        margin-top: 5vh;
        z-index: 2;

        .game-title-text {
            color: white;
            font-size: 5vw;
        }

        .mode-select {
            margin-top: 5vh;
            color: white;
            font-size: 3vw;

            .two-player {
                margin-right: 20px;

                &:hover {
                    color: blue;
                }
            }

            .vs-ai {
                margin-right: 20px;
                display: none;
                
                &:hover {
                    color: red;
                }
            }
        }

        &.show {
            visibility: visible;
            opacity: 1;
        }
    }

    .start-player-x {
        margin-bottom: 20vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 0vw;
        height: auto;
        background-color: black;
        transition: 0.7s width ease-in-out;


        .player-select-x {
            color: blue;
            font-size: 25vw;

            &:hover {
                text-shadow: -7px 7px 10px hsl(0, 0%, 50%), -7px -7px 10px hsl(0, 0%, 50%);
            }
        }

        &.show {
            width: 50vw;
        }
    }

    .start-player-o {
        margin-bottom: 20vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 0vw;
        height: auto;
        background-color: black;
        transition: 0.7s width ease-in-out;

        .player-select-o {
            color: red;
            font-size: 25vw;

            &:hover {
                text-shadow: 7px 7px 10px hsl(0, 0%, 50%), 7px -7px 10px hsl(0, 0%, 50%);
            }
        }

        &.show {
            width: 50vw;
        }
    }

    .first-move-select {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
        transition: 1s all ease-in-out;
        visibility: hidden;
        opacity: 0;
        margin-bottom: 20vh;
        z-index: 2;
        color: white;
        font-size: 2vw;

        &.show {
            visibility: visible;
            opacity: 1;
        }
    }
}