#startup-modal {
    // display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 5;

    &.hide {
        display: none;
    }

    .game-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: transparent;
        transition: 1s all ease-in-out;
        visibility: hidden;
        opacity: 0;
        margin-top: 5vh;
        z-index: 2;
        text-align: center;
        @include responsive(xsmall) {
            margin-top: 100px;
            width: 300px;
        }

        .game-title-text {
            color: white;
            font-size: 5vw;

            @include responsive(xsmall) {
                font-size: 30px;
            }
        }

        .mode-select {
            user-select: none;
            cursor: pointer;
            margin-top: 5vh;
            color: white;
            font-size: 3vw;
            @include responsive(xsmall) {
                font-size: 15px;
            }

            .two-player {
                margin: 0 10px;

                &.selected {
                    color: blue;
                }

                &:hover {
                    color: blue;
                }
            }

            .vs-ai {
                margin: 0 10px;
                // display: none;

                &.selected {
                    color: red;
                }
                
                &:hover {
                    color: red;
                }
            }
        }

        &.show {
            visibility: visible;
            opacity: 1;
        }
    }

    .start-player-x {
        margin-bottom: 20vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 0vw;
        height: auto;
        background-color: transparent;
        transition: 0.7s width ease-in-out;
        @include responsive(xsmall) {
            margin-bottom: 180px;
        }


        .player-select-x {
            user-select: none;
            cursor: pointer;
            color: blue;
            font-size: 25vw;
            @include responsive(xsmall) {
                font-size: 160px;
            }

            &:hover {
                text-shadow: -7px 7px 10px hsl(0, 0%, 50%), -7px -7px 10px hsl(0, 0%, 50%);
            }

            &.selected {
                transform: scale(1.05);
                text-shadow: -7px 7px 10px hsl(0, 0%, 50%), -7px -7px 10px hsl(0, 0%, 50%);
            }
        }

        &.show {
            width: 50vw;
        }
    }

    .start-player-o {
        user-select: none;
        cursor: pointer;
        margin-bottom: 20vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 0vw;
        height: auto;
        background-color: transparent;
        transition: 0.7s width ease-in-out;
        @include responsive(xsmall) {
            margin-bottom: 180px;
        }

        .player-select-o {
            color: red;
            font-size: 25vw;
            @include responsive(xsmall) {
                font-size: 160px;
            }

            &:hover {
                text-shadow: 7px 7px 10px hsl(0, 0%, 50%), 7px -7px 10px hsl(0, 0%, 50%);
            }

            &.selected {
                text-shadow: 7px 7px 10px hsl(0, 0%, 50%), 7px -7px 10px hsl(0, 0%, 50%);
                transform: scale(1.05);
            }
        }

        &.show {
            width: 50vw;
        }
    }

    .first-move-select {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: transparent;
        transition: 1s visibility ease-in;
        transition: 1s opacity ease-in;
        visibility: hidden;
        opacity: 0;
        margin-bottom: 15vh;
        z-index: 2;
        color: white;
        font-size: 2vw;
        @include responsive(xsmall) {
                margin-bottom: 130px;
                font-size: 15px;
            }

        &.flicker {
            text-shadow: 0 0 20px hsl(0, 0%, 100%), 0 0 20px hsl(0, 0%, 100%);
        }

        &.show {
            visibility: visible;
            opacity: 1;
        }
    }

    .game-start {
        cursor: pointer;
        user-select: none;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: transparent;
        transition: 1.7s visibility ease-in-out;
        transition: 1.7s opacity ease-in-out;
        visibility: hidden;
        opacity: 0;
        margin-bottom: 15vh;
        z-index: 2;
        color: white;
        font-size: 2vw;
        @include responsive(xsmall) {
            margin-bottom: 130px;
            font-size: 15px;
        }

        &:hover {
            text-shadow: 0 0 10px hsl(0, 0%, 100%);
        }

        &.show {
            visibility: visible;
            opacity: 1;
        }
    }
}

