#win-modal {
    .o-win {
        @include player-input;
        position: absolute;
        width: auto;
        left: 50%;
        top: 10%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: white;
        text-shadow: 5px 7px 10px hsl(240, 100%, 50%), -5px -7px 10px hsl(0, 100%, 50%);
        font-size: 70px;

        &.show {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .x-win {
        @include player-input;
        position: absolute;
        width: auto;
        left: 50%;
        top: 10%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: white;
        text-shadow: -5px -7px 10px hsl(240, 100%, 50%), 5px 7px 10px hsl(0, 100%, 50%);
        font-size: 70px;

        &.show {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .ox-draw {
        @include player-input;
        position: absolute;
        width: auto;
        left: 50%;
        top: 10%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: white;
        text-shadow: 0 -7px 10px hsl(0, 0%, 50%), 0 7px 10px hsl(0, 0%, 50%);
        font-size: 70px;

        &.show {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}